.cardstyle{
  background: #343A40 ;
  border-color:white
}
#main-footer {
  background:#F2C335;
}
.navbar {
  background: #F2C335;
}
.navbar .nav-link {
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.navbar .nav-item.active {
  border-left: #eb2f2f 3px solid;
}

.carousel-item {
  height: 480px;
}

.carousel-image-1 {
  background: url("../img/Auto Malus Vitrine.jpg");
  background-size: cover;
}
.carousel-image-2 {
  background: url("../img/Moto Malus Vitrine.jpg");
  background-size: cover;
}
.carousel-image-3 {
  background: url("../img/Habitation Vitrine.jpg");
  background-size: cover;
}
body {
  overflow-x: hidden;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.carousel-image-4 {
  background: url("../img/Sante Vitrine.jpg");
  background-size: cover;
}

#home-heading {
  position: relative;
  min-height: 200px;
  background: url("../img/Service Assurance En tete.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
}

#auto-heading {
  position: relative;
  min-height: 200px;
  background: url("../img/Auto Assurance Devis.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
}
#moto-heading {
  position: relative;
  min-height: 200px;
  background: url("../img/Moto Assurance Devis.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
}
#moto-heading {
  position: relative;
  min-height: 200px;
  background: url("../img/Moto Assurance Devis.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
}
#habitation-heading {
  position: relative;
  min-height: 200px;
  background: url("../img/Habitation Assurance Devis.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
}
#mutuel-heading {
  position: relative;
  min-height: 200px;
  background: url("../img/Sante Assurance Devis.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
}
.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.socialclick {
  cursor: pointer;
}
.socialclick:hover {
  opacity: 0.7;
}

#valeurMalus {
  color: greenyellow;
}

.about-img {
  margin-top: -50px;
}

.help-block.with-errors {
  color: #ff5050;
  margin-top: 5px;
}

.btn-send {
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 20px;
}